node_modules
dist
.turbo
.env
.env.development
.env.production
.env.test
build/
.astro/
personal_notes

# Temporally
docs/*

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
